.movie_details_contents{
    background-color: #141414;
    color: white;
    height: 300px;
    padding: 20px 40px;
    object-fit: contain;
}
.company_logo{
    height: 50px;
    /* filter: invert(100%); */
    margin-left: 50px;
}