.movieBanner{
    display: flex;
    height: 400px;
    width: 100%;
}

.movieBanner_info{
    display: flex;
    padding-top: 140px;
    overflow-wrap: break-word;
    flex-direction: column;
    object-fit: contain;
    padding-left: 50px;
    max-width: 35%;
    background-repeat: no-repeat;
    align-items: left;
background-image: linear-gradient(270deg,transparent, #000000 50%, #000000 );
}
.movie_title{
    font-weight: 400;
}
.movie_info{
    display: flex;
    align-items: center ;
}
.attributes{
    border: 2px solid green;
    font-family: Bebas Neue;
    font-weight: 400;
    margin-right: 10px;
    color:#ffffff;
    padding: 2px 5px;
    border-radius: 2px;
}

.rating{
    display:flex;
    border: none;
    color: #62ee97;
    opacity: 1;
    font-weight: 400;
    align-items: center;
}
.tmdb_logo{
    height: 45px;
}
.movie_overview{
    padding-top: 8px;
    font-family: Consolas;
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
} 
@media only  screen and (max-width: 760px){
    .moveBanner{
        height: 350px;
    }

    .attributes{
        border: 1px solid green;
        font-size: 10px;
    }
    .rating{
        border: none;
    }
    .tmdb_logo{
        height: 20px;
    }
    .movieBanner_info{
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        background-image: none;
    
    }
    .movie_overview{
        font-size: 12px;
    }
}
.font_size_small{
    font-size: 13px;
}

.movieBanner_buttons{
    display: flex;
    padding-top: 30px;
}
.movieBanner_button{
    display: flex;
    margin-right: 20px;
    padding: 5px 16px;
    border: 1px solid white;
    border-radius: 4px;
    letter-spacing: 2px;
    background-color: #111;
    color: white;
    transition: all 500ms;
    align-items: center;
}
.button_playIcon{
    margin-right: 4px;
}
.button_myListIcon{
    margin-right: 4px;
}
.movieBanner_button:hover{
    filter: invert(100%);
}

.movie_details{
    position: r;
    display: flex;
    height: 20px;
    margin-bottom: 0;;
}
.movieBanner_faded{
    position: inherit;
    display: flex;
    background-image: linear-gradient(180deg, transparent, rgba(37,37,37,0.7), #111);
    width: 100%;
    height: 50px;
    margin-top: 350px;
    margin-left: -200px;
}
.movie_button{
    background-color: transparent;
    margin-left: 50px;
    font-weight: 800;
    letter-spacing: 0.5px;
    color: white;
    height: 30px;
    margin-top: 20px;
    cursor: pointer;
    padding-top: 8px;
    border: none;    
    transition-property: border;
    transition: 4s;
}
.movie_button:after {
    transition: all ease-in-out .2s;
    background: none repeat scroll 0 0 #ffffff;
    content: "";
    display: block;
    height: 2px;
    width: 0;
}
.movie_button:hover:after {
    width: 100%;
}